<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-Shortener</title>
    <link rel="stylesheet" href="../styles/indexstyle.css">
</head>
<body>
    
<h1>Url Shortener</h1>

<form action="">
    <label for="eingabeUser">Geben Sie hier die URL ein:</label> <br>
    <input type="text" id="eingabeUser" name="eingabeUser">

    <br> <br>
    <input type="submit" value="Kürzen">
</form>

</body>
</html>