<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-Shortener</title>
    <link rel="stylesheet" href="../styles/indexstyle.css">
</head>
<body>

<div class="header-container">
    <div class="Titel-container">
        <div class="Titel-text">
            <h1>Url Shortener</h1>
        </div>
    </div>
</div>

<div class="body-container">
    <div class="urlbox">
        <form class="urlbox-form" action="">
            <h2>Geben Sie hier die zu kürzende URL ein:</h2>
            
            <div class="form-eingabe">
                <input type="text" class="eingabeUser" name="eingabeUser" placeholder="Hier Link einfügen">
                <div class="form-button">
                    <input type="submit" value="Kürzen">
                </div>
            </div>
        </form>
    </div>
    
    <div class="beschreibung-container">
        <div class="beschreibung-text">
            <h2>Ziel des Projekts</h2>
            
            <p>Der vermittelte Unterrichtsstoff der Module M226A und M226B soll in einer
            individuellen Umsetzungsaufgabe gefestigt und vertieft werden. 
            Diese Umsetzungsaufgabe wird mit einer Note im IPT-5.0 bewertet.
            </p>
        </div>
    </div>
</div>


<div class="footer-container">
    <footer class="footer">
        <p>Creator: Tim Bernhard</p>
        <a href="https://github.com/th3gumm3l">GitHub Repository</a>
    </footer>
</div>


</body>
</html>