<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-Shortener</title>
    <link rel="stylesheet" href="../styles/indexstyle.css">
</head>
<body>

    <div class="header-container">
        <div class="Titel-container">
            <div class="Titel-text">
                <h1>Url Shortener</h1>
            </div>
        </div>
    </div>
    
    <div class="body-container">
        <div class="urlbox">
            <h2>Paste the URL to be shortened</h2>
            <div class="input">
                <input type="text" id="url-input" class="inputUser" name="inputUser" placeholder="Enter the link here">
                <input type="button" class="buttonSubmit" value="Shorten URL" onclick="submitLink()">
            </div>
            <a id="short-url"></a>
        </div>
        
        <div class="description-container">
            <div class="description-text">
                <h2>Target of the Project</h2>
                
                <p>The material taught in modules M226A and M226B is to be consolidated in an individual
                    be consolidated and deepened in an individual implementation task. 
                    This implementation task will be assessed with a grade in IPT-5.0.
                </p>
            </div>
        </div>
    </div>
    
    
    <div class="footer-container">
        <footer class="footer">
            <p>Creator: Tim Bernhard</p>
            <a href="https://github.com/th3gumm3l">GitHub Repository</a>
        </footer>
    </div>

<script src="../script.js"></script>
</body>
</html>