<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserStories</title>
    <link rel="stylesheet" href="../styles/indexstyle.css">
</head>
<body>
    <div class="header-container">
        <div class="Titel-container">
            <div class="Titel-text">
                <a href="../views/index.html">URL Shortener</a>
            </div>
        </div>

        <nav class="navbar">
            <a href="../views/wireframes.html">Wireframes</a>
            <a href="../views/userstories.html">UserStories</a>
        </nav>
    </div>

    <div class="body-container">
        <h1 class="userstory-titel">User Stories</h1>

        <div class="userStory-Box">
            <h2>Hide descriptive content</h2>
            <p>As a company I want to shorten my URL to be able to hide descriptive content in the URL</p>
            <ul>
                <h4>Acceptance criteria</h4>
                <li>The link should have a clever "name"</li>
            </ul>
        </div>

        <div class="userStory-Box">
            <h2>Optimization for social media</h2>
            <p>As a user, I want to be able to use short links to better display them on social media profiles</p>
            <ul>
                <h4>Acceptance criteria</h4>
                <li>Small number of characters in the link</li>
            </ul>
        </div>

        <div class="userStory-Box">
            <h2>Visually appealing link</h2>
            <p>As a printing company, I want to print short links so as not to inconvenience the customer and create a visually good image.</p>
            <ul>
                <h4>Acceptance criteria</h4>
                <li>The link should contain few special characters and be meaningful</li>
            </ul>
        </div>

        <div class="userStory-Box">
            <h2>Short links, few characters</h2>
            <p>As a programmer, I want to include short links to avoid having too many characters in the code</p>
            <ul>
                <h4>Acceptance criteria</h4>
                <li>Few characters in the link</li>
            </ul>
        </div>

        <div class="userStory-Box">
            <h2>Simple user interface</h2>
            <p>As a user, I want an easy-to-understand website to keep track of things</p>
            <ul>
                <h4>Acceptance criteria</h4>
                <li>Design is minimalistic</li>
                <li>Buttons are understandable</li>
                <li>User does not have to search for a long time</li>
                <li>Good overview on the website</li>
                <li>Website should have a form to report problems/feedback</li>
            </ul>
        </div>

        <div class="userStory-Box">
            <h2>Short loading times</h2>
            <p>As a user, I want to get a link back quickly so I can continue working quickly</p>
            <ul>
                <h4>Acceptance criteria</h4>
                <li>Code should be optimized and shortened</li>
                <li>Try to consider clean code requirements</li>
            </ul>
        </div>
    </div>

    <div class="footer-container">
        <footer class="footer">
            <p>Creator: Tim Bernhard</p>
            <a href="https://github.com/th3gumm3l">GitHub Repository</a>
        </footer>
    </div>

</body>
</html>