<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wireframes</title>
    <link rel="stylesheet" href="../styles/indexstyle.css">
</head>
<body>
    <div class="header-container">
        <div class="Titel-container">
            <div class="Titel-text">
                <a href="../views/index.html">URL Shortener</a>
            </div>
        </div>

        <nav class="navbar">
            <a href="../views/wireframes.html">Wireframes</a>
            <a href="../views/userstories.html">UserStories</a>
        </nav>

    </div>

    <div class="body-container">
        <div class="imagebox">
            <h1>First Wireframe</h1>
            <img src="/Wireframes/Ipt5 Wireframe-1.jpg" alt="Wireframe 1">
        </div>

        <div class="imagebox">
            <h1>Second Wireframe</h1>
            <img src="/Wireframes/Ipt5 Wireframe-2.jpg" alt="Wireframe 2">
        </div>
    </div>

    <div class="footer-container">
        <footer class="footer">
            <p>Creator: Tim Bernhard</p>
            <a href="https://github.com/th3gumm3l">GitHub Repository</a>
        </footer>
    </div>

</body>
</html>