* {
    margin: 0px;
    padding: 0;
    color: #31525b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */
.Titel-container {
    display: flex;
    justify-content: center;
    background-color: #31525b;
    align-items: center;
    height: 100px;
}

.Titel-text h1{
    color: white;
    background-color: #31525b;
}


/* Body */
.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
    background-color: rgb(233, 230, 230);
}

.urlbox{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 30px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.urlbox:hover {
    box-shadow: 0px 0px 20px 6px white;
    transition: 0.5s;
}

.urlbox h2 {
    margin-bottom: 10px;
}

.buttonSubmit {
    height: 1.7rem;
    border: 0;
    width: 5rem;
}

.buttonSubmit:hover {
    background-color: #31525b;
    color: white;
    transition: 0.2s;
}

.eingabeUser {
    height: 1.5rem;
    background-color: #ffffff;
    width: 20rem;
    padding: 2px;
    text-align: center;
    color: black;
    border: 0;
}

.beschreibung-container {
    width: 70%;
    display: flex;
    text-align: center;
    background-color: lightgray;
    padding: 30px;
    transition: 0.5s;
}

.beschreibung-container:hover {
    box-shadow: 0px 0px 20px 6px white;
    transition: 0.5s;    
}

.beschreibung-text h2 {
    margin-bottom: 20px;
}

.beschreibung-text p {
    color: black;
}


/* Footer */
.footer-container {
    display: flex;
    justify-content: center;
    background-color: #31525b;
    text-align: center;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: rgb(0, 0, 0);
}

.footer p {
    color: white;
}