* {
    margin: 0px;
    padding: 0;
    color: #31525b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*INDEX.HTML*/

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #31525b;
}

.Titel-container {
    display: flex;
    justify-content: center;
    background-color: #31525b;
    align-items: center;
    height: 100px;
}

.Titel-text a{
    margin: 0 0 0 40px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    background-color: #31525b
}

.Titel-text a:hover {
    color: black;
    transition: 0.2s;
}

.navbar {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.navbar a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: black;
    transition: 0.2s;
}

/* Body */
.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
    background-color: rgb(233, 230, 230);
}

.urlbox{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 10rem;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 30px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.urlbox:hover {
    box-shadow: 0px 0px 20px 6px white;
    transition: 0.5s;
}

.urlbox h2 {
    margin-bottom: 10px;
}

.inputUser {
    height: 1.5rem;
    background-color: #ffffff;
    width: 20rem;
    padding: 2px;
    text-align: center;
    color: black;
    border: 0;
    outline: none;
    
}

.urlbox a {
    margin-top: 10px;
    text-decoration: none;
}

.urlbox a:hover {
    color: white;
}

.buttonSubmit {
    height: 1.7rem;
    border: 0;
    width: 5rem;
}

.buttonSubmit:hover {
    background-color: #31525b;
    color: white;
    transition: 0.2s;
}

.description-container {
    width: 40%;
    height: 10rem;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: lightgray;
    padding: 30px;
    transition: 0.5s;
}

.description-container:hover {
    box-shadow: 0px 0px 20px 6px white;
    transition: 0.5s;    
}

.description-text h2 {
    margin-bottom: 20px;
}

.desctiption-text p {
    color: black;
}


/* Footer */
.footer-container {
    display: flex;
    justify-content: center;
    background-color: #31525b;
    text-align: center;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: rgb(0, 0, 0);
}

.footer p {
    color: white;
}


/*WIREFRAMES.HTML*/
.imagebox {
    width: 40%;
    background-color: lightgray;
    padding: 40px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.imagebox:hover {
    box-shadow: 0px 0px 20px 6px white;
    transition: 0.5s;
}

.imagebox h1 {
    margin-bottom: 30px;
}

.imagebox img {
    width: 100%;
}

/*USERSTORIES.HTML*/
.userstory-titel {
    margin-bottom: 50px;
}

.userStory-Box {
    width: 60%;
    background-color: lightgray;
    padding: 30px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.userStory-Box:hover {
    box-shadow: 0px 0px 20px 6px white;
    transition: 0.5s;  
}

.userStory-Box h2 {
    margin-bottom: 15px;
}

.userStory-Box p {
    margin-bottom: 10px;
}

.userStory-Box h4 {
    margin-bottom: 5px;
}

.userStory-Box li {
    margin-left: 30px;
}